* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('pattern.jpg');
}

.container {
    display: inline-block;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100vw;
}

.paper {
    display: inline-block;
    background-color: white;
    width: 90%;
    margin: 5px;
    padding: 5px;
}

.border {
    margin: 5px;
    border: 1px solid grey;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.header {
    text-align: center;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}

header nav ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

header nav ul a {
    margin: 10px;
}

section {
    padding-top: 70px;
    padding-bottom: 10px;
    /* width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white; */
}

section h1 {
    text-align: center;
}

footer {
    padding: 21px;
    text-align: center;
    background-color: black;
    color: white;
}

#article-list {
    margin-top: 50px;
}

.content-items {
    margin-top: 50px;
    margin-bottom: 20px;
}

.content-items p {
    margin-top: 20px;
    margin-bottom: 20px;
}
